@import url("../css/app/one.css");
@import url("../css/app/two.css");
@import url("../css/font.css");

.dot {
  height: 10px;
  width: 10px;
  background-color: #b9c3fb;
  border-radius: 50%;
  display: none;
}

.percent-text {
  font-family: "Circular" !important;
}

.os-progress-bar .bar-labels span {
  font-size: .72rem
}

.os-progress-bar .bar-labels span.bigger {
  font-size: .99rem
}

.os-progress-bar .bar-label-left span {
  margin-right: 5px
}

.os-progress-bar .bar-label-left span.positive {
  color: #619B2E
}

.os-progress-bar .bar-label-left span.negative {
  color: #D83536
}

.os-progress-bar .bar-label-right span {
  margin-left: 5px
}

.os-progress-bar .bar-label-right span.info {
  color: #456CF9
}

.os-progress-bar .bar-level-1,
.os-progress-bar .bar-level-2,
.os-progress-bar .bar-level-3 {
  border-radius: 12px;
  height: 8px;
  margin-bottom: 2rem;
}

.os-progress-bar.blue .bar-level-1,
.os-progress-bar.primary .bar-level-1 {
  background-color: #F2F2F2
}

.os-progress-bar.blue .bar-level-2,
.os-progress-bar.primary .bar-level-2 {
  background-color: #65affd
}

.os-progress-bar.blue .bar-level-3,
.os-progress-bar.primary .bar-level-3 {
  background-color: #0362c6
}

.os-progress-bar.warning .bar-level-1 {
  background-color: #F2F2F2
}

.os-progress-bar.warning .bar-level-2 {
  background-color: #fcebb8
}

.os-progress-bar.warning .bar-level-3 {
  background-color: #f9d66f
}

.os-progress-bar.danger .bar-level-1 {
  background-color: #F2F2F2
}

.os-progress-bar.danger .bar-level-2 {
  background-color: #f7acac
}

.os-progress-bar.danger .bar-level-3 {
  background-color: #f16666
}

.os-progress-bar.success .bar-level-1 {
  background-color: #F2F2F2
}

.os-progress-bar.success .bar-level-2 {
  background-color: #c2f2ae
}

.os-progress-bar.success .bar-level-3 {
  background-color: #90e86c
}

.os-progress-bar.info .bar-level-1 {
  background-color: #F2F2F2
}

.os-progress-bar.info .bar-level-2 {
  background-color: #9fd9f7
}

.os-progress-bar.info .bar-level-3 {
  background-color: #58bef1
}

.os-progress-bar.floated {
  float: right;
  width: 220px
}

.os-progress-bar .bar-labels {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 5px
}

.os-progress-bar .bar-labels span {
  font-size: 1.5rem
}

.os-progress-bar .bar-labels span.bigger {
  font-size: 2rem
}

.os-progress-bar .bar-label-left span {
  margin-right: 5px
}

.os-progress-bar .bar-label-left span.positive {
  color: #619B2E
}

.os-progress-bar .bar-label-left span.negative {
  color: #D83536
}

.os-progress-bar .bar-label-right span {
  margin-left: 5px
}

.os-progress-bar .bar-label-right span.info {
  color: #456CF9
}