@font-face {
    font-family: 'Circular';
    src:  url("circular/Circular-Book.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url("circular/Circular-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url("circular/Circular-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}