<nav class="navbar navbar-expand-lg navbar-light" id="topnav">
    <div class="container">
        <a class="navbar-brand mr-auto" href="./index.html">
            <img src="./assets/img/logo.svg" alt="..." class="navbar-brand-img">
        </a>
        <div class="collapse navbar-collapse mr-auto order-lg-first" id="navbar">
            <form class="mt-4 mb-3 d-md-none">
                <input type="search" class="form-control form-control-rounded" placeholder="Search" aria-label="Search">
            </form>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#">
                        Dashboards
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#modalDemo" data-toggle="modal">
                        Customize
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>