#header-alt:after,
.action-header:after,
.grid-widget:after,
.groups-grid--listing .groups-grid__item:after,
.list-group--block:after,
.team__item:after {
    clear: both
}

.neighb-guide__item,
.waves-effect {
    -webkit-tap-highlight-color: transparent
}

.activity-log__text>a,
.activity-log__text>small,
.fc-event .fc-title,
.footer__block--blog>a,
.footer__block--blog>a>small,
.listings-grid__body>h5,
.listings-grid__body>small,
.neighb-guide__label,
.notes__title {
    text-overflow: ellipsis;
    white-space: nowrap
}

.top-nav>li {
    display: inline-block;
    vertical-align: top;
    padding: 0
}

.top-nav>li>a,
.top-nav>li>span {
    padding: 12px;
    display: block;
    color: #fff;
    font-size: 13px
}

.top-nav>li>a>.zmdi,
.top-nav>li>span>.zmdi {
    font-size: 18px;
    vertical-align: top
}

.top-nav>li.open>a,
.top-nav>li>a:hover {
    background-color: rgba(0, 0, 0, .08)
}

.top-nav>li:not(.top-nav__icon)>a>.zmdi,
.top-nav>li:not(.top-nav__icon)>span>.zmdi {
    margin-right: 10px
}

.top-nav__alert {
    width: 4px;
    height: 4px;
    background: #fff;
    position: absolute;
    border-radius: 50%;
    top: 9px;
    right: 10px
}

.top-nav__auth {
    display: block;
    margin: 15px 0 0;
    text-align: center
}

.top-nav__auth>span {
    width: 35px;
    height: 35px;
    display: inline-block;
    border: 1px solid #eee;
    border-radius: 50%;
    line-height: 32px;
    position: relative;
    background-color: #fff;
    margin-bottom: 10px
}

.top-nav__auth>span:before {
    position: absolute;
    content: '';
    height: 1px;
    width: 160px;
    top: 17px;
    left: -64px;
    background-color: #eee;
    z-index: -1
}

.top-nav__auth>a {
    display: inline-block;
    width: 30px;
    height: 30px;
    color: #fff;
    line-height: 30px;
    border-radius: 50%;
    margin: 15px 1px 0
}

.top-nav__back {
    display: block;
    font-size: 24px;
    line-height: .5;
    color: #828282;
    height: 35px;
    position: relative;
    top: 0
}

.top-nav__back:focus,
.top-nav__back:hover {
    color: #696969
}

.top-nav__back:after,
.top-nav__back:before {
    position: absolute;
    font-family: Material-Design-Iconic-Font;
    width: 100%;
    height: 100%;
    content: '\f2ff';
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms
}

.top-nav__back:before {
    left: 0
}

.top-nav__back:after {
    left: 50px;
    opacity: 0;
    filter: alpha(opacity=0)
}

.top-nav__back:hover:before {
    left: -50px;
    opacity: 0;
    filter: alpha(opacity=0)
}

.top-nav__back:hover:after {
    left: 0;
    opacity: 1;
    filter: alpha(opacity=100)
}

.navigation {
    padding: 0;
    margin: 0;
    list-style: none;
    float: right
}

.navigation>li {
    display: inline-block;
    vertical-align: top;
    padding: 0
}

.navigation>li>a {
    display: block;
    text-transform: uppercase;
    font-weight: 500
}

.navigation>li>a:not(.navigation__close) {
    font-size: 15px
}

@media (min-width:992px) {
    .navigation>li>a {
        color: rgba(255, 255, 255, .8);
        padding: 15px 13px 13px
    }
    .navigation>li.active>a {
        color: #FFEE58
    }
    .navigation>li:not(.active):hover>a {
        color: #fff
    }
}

@media (max-width:991px) {
    .navigation {
        max-width: 300px;
        width: 90%;
        background-color: #fff;
        position: fixed;
        height: 100%;
        top: 0;
        right: -320px;
        z-index: 99;
        box-shadow: 0 0 30px rgba(0, 0, 0, .1);
        -webkit-transition: all;
        -o-transition: all;
        transition: all;
        -webkit-transition-duration: .3s;
        transition-duration: .3s;
        overflow: auto
    }
    .navigation.toggled {
        right: 0
    }
    .navigation>li {
        display: block
    }
    .navigation>li>a {
        padding: 13px 30px
    }
    .navigation>li>a,
    .navigation>li>a:hover {
        color: #2e353b
    }
    .navigation>li.active>a {
        color: #2e353b;
        background-color: #eee
    }
}

@media (min-width:992px) {
    .navigation__dropdown {
        position: relative
    }
    .navigation__dropdown>a {
        -webkit-transition: all;
        -o-transition: all;
        transition: all;
        -webkit-transition-duration: .3s;
        transition-duration: .3s
    }
    .navigation__dropdown:hover>a {
        background-color: #303F9F;
        border-radius: 2px 2px 0 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
        padding-right: 20px;
        padding-left: 20px
    }
}

.navigation__drop-menu {
    padding: 0;
    list-style: none
}

@media (min-width:992px) {
    .navigation__drop-menu {
        position: absolute;
        background-color: #303F9F;
        z-index: 11;
        left: 0;
        border-radius: 0 2px 2px;
        min-width: 170px;
        box-shadow: 0 4px 5px rgba(0, 0, 0, .1);
        display: none
    }
    .navigation__drop-menu>li>a {
        display: block;
        color: rgba(255, 255, 255, .8);
        padding: 9px 20px
    }
    .navigation__drop-menu>li>a:hover {
        background-color: rgba(0, 0, 0, .08);
        color: #fff
    }
    .navigation__drop-menu>li.active>a {
        color: #FFEE58
    }
    .navigation__drop-menu>li:first-child {
        margin-top: 10px
    }
    .navigation__drop-menu>li:last-child {
        margin-bottom: 10px
    }
    .navigation__drop-menu.navigation__drop-menu--right {
        left: auto;
        right: 0;
        border-radius: 2px 0 2px 2px
    }
}

@media (max-width:991px) {
    .navigation__drop-menu {
        display: block!important;
        opacity: 1!important;
        filter: alpha(opacity=100)!important;
        padding: 0 30px;
        margin-bottom: 20px
    }
    .navigation__drop-menu>li>a {
        display: block;
        color: #929292;
        font-size: 14px;
        padding: 8px 0
    }
    .navigation__drop-menu>li.active>a {
        color: #2e353b
    }
    .navigation-trigger {
        margin-top: 8px;
        font-size: 21px;
        color: #fff;
        float: right;
        cursor: pointer
    }
}

.search__type .dropdown-menu>div>span,
.search__type>a {
    display: block;
    color: #3e3e3e;
    font-weight: 500;
    text-transform: uppercase
}

.navigation__close {
    font-size: 22px;
    text-align: right
}

.header__search {
    padding-top: 35px;
    padding-bottom: 35px;
    position: relative;
    z-index: 10;
    max-width: 750px;
    margin: 0 auto
}

.search {
    position: relative;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .08)
}

.search__type {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 2
}

.search__type>a {
    background-color: #FFEB3B;
    height: 100%;
    padding: 17px 0 0 19px;
    border-radius: 2px 0 0 2px;
    -webkit-transition: background-color;
    -o-transition: background-color;
    transition: background-color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    width: 72px;
    font-size: 13px
}

.search__type.open>a {
    border-radius: 2px 0 0
}

.search__type .dropdown-menu,
.search__type.open>a,
.search__type>a:hover {
    background-color: #FDD835
}

.search__type .dropdown-menu {
    top: 50px;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .2);
    min-width: 120px;
    width: 120px
}

.search__type .dropdown-menu>div {
    position: relative;
    cursor: pointer
}

.search__type .dropdown-menu>div>input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 1;
    margin: 0;
    cursor: pointer
}

.search__type .dropdown-menu>div>span {
    padding: 7px 18px;
    font-size: 12px
}

.search__type .dropdown-menu>div:hover {
    background-color: rgba(0, 0, 0, .05)
}

.search__input {
    border: 0;
    height: 50px;
    font-size: 14px;
    padding: 1px 20px 0;
    background-color: #fff;
    border-radius: 2px;
    width: 100%
}

.search__input,
.search__input:focus {
    box-shadow: none
}

.header__recommended {
    padding-top: 30px;
    padding-bottom: 50px;
    /* background: url(../img/patterns/header_pattern.png) top left repeat-x */
}

@media (min-width:768px) and (max-width:1279px) {
    .header__recommended {
        padding-right: 30px;
        padding-left: 30px
    }
}

@media (max-width:767px) {
    .header__recommended {
        padding-top: 10px;
        padding-bottom: 30px
    }
}

.header__recommended .listings-grid {
    margin: 0 auto;
    max-width: 1300px
}

@media (min-width:700px) {
    .header__recommended .listings-grid {
        padding: 0 70px
    }
}

.header__recommended .listings-grid__item {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    margin: 0 12px 0 13px
}

.header__recommended .listings-grid__main {
    border: 3px solid #fff
}

.my-location {
    margin-bottom: 20px;
    text-align: center
}

.my-location__location,
.my-location__title {
    display: inline-block
}

.my-location__title {
    color: #fff;
    font-weight: 400;
    font-size: 15px
}

.my-location__location {
    margin-left: 5px
}

.my-location__location>a {
    color: #FFEB3B;
    font-size: 15px
}

.my-location__location .dropdown-menu {
    width: 350px;
    padding: 25px
}

.my-location__location .dropdown-menu>strong {
    font-size: 14px;
    color: #2e353b
}

.my-location__location .dropdown-menu>small {
    display: block;
    margin-top: 6px;
    margin-bottom: 20px
}

.my-location__map {
    margin: 30px -21px -25px
}

.search__body {
    position: relative;
    padding-left: 70px;
    overflow: hidden
}

.search__body.toggled {
    overflow: visible
}

.search__body.toggled .search__input {
    border-bottom-right-radius: 0
}

.search__body.toggled .search__advanced {
    -webkit-transform: translate3d(0, -1px, 0);
    transform: translate3d(0, -1px, 0);
    opacity: 1;
    filter: alpha(opacity=100)
}

.search__advanced,
.search__body.closed .search__advanced {
    opacity: 0;
    filter: alpha(opacity=0)
}

.search__advanced {
    position: absolute;
    background-color: #fff;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 10px 12px rgba(0, 0, 0, .3);
    z-index: 1;
    padding: 20px 23px 35px;
    border-top: 1px solid #eee;
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden
}

@media (min-width:768px) {
    .search__advanced {
        left: 72px;
        width: calc(100% - 72px)
    }
}

.search__advanced .form-group--float {
    margin-top: 24px
}

.search-backdrop {
    z-index: 9
}

.action-header {
    background-color: #fff;
    padding: 12px 15px;
    box-shadow: 0 3px 5px -2px rgba(0, 0, 0, .1);
    position: relative
}

.action-header:after,
.action-header:before {
    content: " ";
    display: table
}

@media (max-width:767px) {
    .search__advanced {
        left: 0;
        width: 100%
    }
    .action-header {
        padding: 10px 15px
    }
}

.action-header.affix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 15;
    box-shadow: 0 3px 15px rgba(0, 0, 0, .1)
}

.action-header__item {
    display: inline-block
}

.action-header__item:not(:first-child) {
    margin-left: 20px
}

.action-header__back {
    font-size: 14px;
    color: #a5a5a5;
    padding: 8px 10px 5px
}

.action-header__back>i {
    font-size: 22px;
    vertical-align: top;
    margin-right: 10px;
    color: #828282
}

.action-header__back:focus,
.action-header__back:hover {
    color: #828282
}

.action-header__item--search {
    padding: 0 0 0 30px;
    position: relative
}

@media (min-width:768px) {
    .action-header__item--search {
        margin-left: 15px;
        max-width: 320px;
        width: 100%
    }
}

.action-header__item--search:before {
    content: '\f1c3';
    font-family: Material-Design-Iconic-Font;
    position: absolute;
    left: 0;
    top: 7px;
    font-size: 22px;
    line-height: 100%
}

.action-header__item--search input[type=text] {
    border: 0;
    background-color: transparent;
    font-size: 14px;
    width: 100%;
    height: 35px
}

.action-header__views {
    float: right;
    margin: 6px 0 0
}

.action-header__views>a {
    font-size: 24px;
    line-height: 100%;
    padding: 0 0 0 14px
}

.action-header__views>a:not(.active):hover {
    color: #b7b7b7
}

.action-header__item--sort {
    padding-left: 55px;
    float: right;
    position: relative;
    top: 1px
}

.action-header__item--sort .select2-container--default .select2-selection--single {
    border: 0
}

.action-header__add {
    float: right;
    padding-top: 1px
}

.action-header__add .btn:first-child:nth-last-child(2):not(:first-child),
.action-header__add .btn:first-child:nth-last-child(2)~.btn:not(:first-child) {
    margin-left: 5px
}

.action-header__small {
    position: absolute;
    left: 0;
    top: 7px
}

.action-header__item--tags {
    float: right
}

.action-header__item--tags>a {
    color: #FFA726;
    font-size: 15px;
    padding: 7px 0 6px 15px;
    display: inline-block
}

.action-header__item--tags>a:hover {
    color: #FB8C00
}

.listings-grid__item {
    background-color: #fff;
    display: block;
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    -webkit-transition: background-color;
    -o-transition: background-color;
    transition: background-color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

.listings-grid__item:hover {
    background-color: #fffdee
}

.listings-grid__item.listings-grid__item--sold:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    /* background: url(../img/sold.png) bottom 15px right 30px no-repeat; */
    background-size: 100px;
    z-index: 10
}

.listings-grid__body {
    padding: 18px 20px 13px
}

.listings-grid__body>small {
    color: #9c9c9c;
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: 500;
    line-height: 16px
}

.listings-grid__body>h5 {
    font-size: 13px;
    margin: 0 0 5px
}

.listings-grid__body>h5,
.listings-grid__body>small {
    overflow: hidden
}

.listings-grid__main.pull-left {
    padding-right: 0
}

.listings-grid__main>img {
    width: 100%;
    -webkit-transition: opacity;
    -o-transition: opacity;
    transition: opacity;
    -webkit-transition-duration: .2s;
    transition-duration: .2s
}

.listings-grid__price {
    position: absolute;
    font-weight: 500
}

.listings-grid__attrs {
    margin: 0;
    list-style: none;
    padding: 13px 12px 13px 18px;
    border-top: 1px solid rgba(0, 0, 0, .04)
}

.listings-grid__attrs>li {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    font-size: 13px;
    font-weight: 500;
    color: #828282;
    margin-right: 13px
}

.listings-grid__attrs>li>a {
    display: block
}

.listings-grid__icon {
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    vertical-align: top;
    margin-top: 1px;
    opacity: .9;
    filter: alpha(opacity=90)
}

.listings-grid__icon--bed {
    /* background-image: url(../img/icons/bed.png); */
    width: 22px
}

@media only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min--moz-device-pixel-ratio:2),
only screen and (-o-min-device-pixel-ratio:2/1),
only screen and (min-device-pixel-ratio:2),
only screen and (min-resolution:192dpi),
only screen and (min-resolution:2dppx) {
    .listings-grid__icon--bed {
        /* background-image: url(../img/icons/bed@2x.png); */
        background-size: 22px 16px
    }
}

.listings-grid__icon--bath {
    /* background-image: url(../img/icons/bath.png); */
    width: 21px
}

@media only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min--moz-device-pixel-ratio:2),
only screen and (-o-min-device-pixel-ratio:2/1),
only screen and (min-device-pixel-ratio:2),
only screen and (min-resolution:192dpi),
only screen and (min-resolution:2dppx) {
    .listings-grid__icon--bath {
        /* background-image: url(../img/icons/bath@2x.png); */
        background-size: 21px 16px
    }
}

.listings-grid__icon--parking {
    /* background-image: url(../img/icons/parking.png); */
    width: 24px
}

@media only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min--moz-device-pixel-ratio:2),
only screen and (-o-min-device-pixel-ratio:2/1),
only screen and (min-device-pixel-ratio:2),
only screen and (min-resolution:192dpi),
only screen and (min-resolution:2dppx) {
    .listings-grid__icon--parking {
        /* background-image: url(../img/icons/parking@2x.png); */
        background-size: 24px 16px
    }
}

.listings-grid .listings-grid__main {
    position: relative
}

.listings-grid .listings-grid__price {
    bottom: 0;
    left: 0;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .5) 100%);
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .5) 100%);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .5) 100%);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=0);
    width: 100%;
    color: #fff;
    padding: 30px 20px 15px;
    font-size: 17px
}

.listings-grid__favorite {
    position: absolute;
    z-index: 1;
    bottom: 6px;
    right: 10px
}

@media (min-width:992px) {
    .listings-list .listings-grid__body {
        padding-right: 105px
    }
    .listings-list .listings-grid__price {
        top: 18px;
        right: 22px
    }
}

@media (min-width:768px) {
    .listings-list:not(.listings-list--alt) .listings-grid__main {
        width: 175px;
        border: 3px solid #Fff
    }
    .listings-list.listings-list--alt .listings-grid__main {
        width: 155px
    }
}

@media (max-width:991px) {
    .listings-list .listings-grid__main {
        position: relative
    }
    .listings-list .listings-grid__main .listings-grid__price {
        bottom: 0;
        left: 0;
        background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .5) 100%);
        background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .5) 100%);
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .5) 100%);
        background-repeat: repeat-x;
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=0);
        width: 100%;
        color: #fff;
        padding: 30px 20px 15px;
        font-size: 15px
    }
}

@media (max-width:767px) {
    .listings-list {
        border-radius: 3px 3px 2px 2px
    }
    .listings-list .listings-grid__main,
    .listings-list .media-body {
        width: 100%
    }
}

.listings-list .listings-grid__price {
    color: #2e353b;
    font-weight: 700
}

.listings-list--alt .listings-grid__item {
    padding: 20px;
    margin: 0;
    box-shadow: none;
    border-radius: 0
}

.listings-list--alt .listings-grid__item:not(:last-child) {
    border-bottom: 1px solid #eee
}

.listings-list--alt .listings-grid__main>img {
    border-radius: 2px
}

.listings-list--alt .listings-grid__main .listings-grid__price {
    border-radius: 0 0 3px 3px
}

.listings-list--alt .listings-grid__attrs {
    padding: 0 0 0 20px;
    border: 0
}

@media (max-width:767px) {
    .listings-list--alt .listings-grid__attrs,
    .listings-list--alt .listings-grid__body {
        padding-left: 0;
        padding-right: 0
    }
}

.detail-media {
    position: relative;
    overflow: hidden;
    z-index: 1
}

.detail-media .light-gallery>a>img {
    width: 100%;
    border-radius: 2px 2px 0 0
}

.detail-media .light-gallery>a:not(:first-child) {
    display: none
}

.detail-media__nav {
    margin: 0;
    list-style: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    text-align: center
}

.detail-media__nav>li {
    display: inline-block;
    vertical-align: top;
    padding: 0
}

.detail-media__nav>li>a {
    display: block;
    color: rgba(255, 255, 255, .6);
    font-size: 18px;
    background: rgba(0, 0, 0, .3);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 41px;
    margin: 0 1px;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms
}

.detail-media__nav>li.active>a {
    color: #fff
}

.detail-media__nav>li:not(.active)>a:hover {
    background: rgba(0, 0, 0, .5);
    color: rgba(255, 255, 255, .8)
}

#listing-map {
    width: 100%;
    margin-bottom: -25px;
    height: 374px
}

.detail-info__header {
    border-radius: 2px 2px 0 0;
    padding: 26px 28px 23px;
    position: relative
}

.detail-info__header strong {
    color: #2e353b;
    font-size: 20px;
    line-height: 100%;
    margin-right: 15px
}

.detail-info__header small {
    font-size: 14px;
    position: relative;
    top: -2px;
    color: #9c9c9c
}

.detail-info__header span {
    float: right;
    background-color: #585858;
    color: #fff;
    font-size: 11px;
    padding: 4px 10px;
    border-radius: 2px;
    margin-top: -2px;
    text-transform: uppercase
}

@media (max-width:991px) {
    .detail-info__header {
        padding: 20px 25px 15px
    }
    .detail-info__header small {
        display: block;
        margin-top: 10px
    }
    .detail-info__header span {
        position: absolute;
        top: 20px;
        right: 25px
    }
}

.detail-amenities__list,
.detail-info__list {
    padding: 0;
    margin: 0;
    list-style: none
}

.detail-amenities__list>li,
.detail-info__list>li {
    display: inline-block;
    vertical-align: top
}

.detail-amenities__list>li>a,
.detail-info__list>li>a {
    display: block
}

.detail-info__list {
    padding-bottom: 10px
}

.detail-info__list>li {
    width: 50%;
    float: left;
    padding: 15px 30px;
    border-top: 1px solid #f5f5f5
}

.detail-info__list>li>span:first-child {
    display: inline-block;
    font-weight: 500;
    color: #2e353b;
    width: 110px
}

@media (max-width:991px) {
    .detail-info__list>li {
        padding: 10px 25px
    }
    .detail-info__list>li>span:last-child {
        display: block;
        margin-top: 3px
    }
}

.detail-amenities__list>li {
    padding: 8px 15px;
    color: #fff;
    border-radius: 2px;
    margin: 0 1px 4px 0;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px
}

.inquire__number {
    display: inline-block;
    background-color: #EF5350;
    color: #fff;
    font-size: 16px;
    padding: 13px 25px 11px;
    border-radius: 2px;
    font-weight: 500;
    margin-bottom: 35px
}

.inquire__number>i {
    font-size: 25px;
    vertical-align: middle;
    margin: -5px 5px 0 0
}

.rmd-share {
    min-width: 80px;
    width: 80px;
    text-align: center
}

.rmd-share>div {
    padding: 8px 0
}

.rmds-item {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    font-size: 18px;
    margin: 4px 3px;
    cursor: pointer;
    -webkit-transition: background-color;
    -o-transition: background-color;
    transition: background-color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

.rmds-item:hover {
    background-color: #676767
}

.rmds-item a,
.rmds-item a:focus {
    color: #fff
}

@media (min-width:480px) {
    .grid-widget {
        padding: 0 1px 1px 2px
    }
    .grid-widget__item {
        border-width: 1px 2px 2px 1px;
        border-color: #fff;
        border-style: solid;
        -webkit-transition: all;
        -o-transition: all;
        transition: all;
        -webkit-transition-duration: .2s;
        transition-duration: .2s
    }
    .grid-widget__item:hover {
        opacity: .9;
        filter: alpha(opacity=90)
    }
    .grid-widget__item>img {
        border-radius: 2px
    }
}

.grid-widget [class*=col-] {
    padding: 0
}

.grid-widget:after,
.grid-widget:before {
    content: " ";
    display: table
}

.grid-widget .slick-dots {
    position: absolute;
    top: 3px;
    right: 20px
}

.grid-widget__item {
    display: block;
    overflow: hidden;
    position: relative
}

.grid-widget__item>img {
    width: 100%;
    display: block
}

.grid-widget__info {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 15px 17px 14px;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 0 0 3px 3px
}

.grid-widget__info>small {
    font-size: 12px;
    display: block
}

.grid-widget__info>h3 {
    margin: 0 0 3px;
    font-size: 17px
}

.grid-widget__info>h3,
.grid-widget__info>h4,
.grid-widget__info>small {
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.grid-widget__info>h4 {
    font-size: 13px;
    margin: 0 0 3px
}

.properties-map {
    border: 3px solid #fff;
    overflow: hidden
}

.pm-item {
    width: 100%;
    height: 500px;
    margin-bottom: -21px
}

.subscribe {
    padding: 40px 30px 30px;
    text-align: center
}

.subscribe h2 {
    font-size: 16px;
    color: #fff
}

.subscribe small {
    font-size: 13px;
    color: rgba(255, 255, 255, .7);
    display: block;
    margin-bottom: 20px
}

.subscribe .form-control::-moz-placeholder {
    color: #fff;
    opacity: 1
}

.subscribe .form-control:-ms-input-placeholder {
    color: #fff
}

.subscribe .form-control::-webkit-input-placeholder {
    color: #fff
}

.subscribe .btn--circle {
    box-shadow: none;
    background-color: #fff
}

.subscribe__icon {
    color: #fff;
    font-size: 25px
}

.subscribe__icon>i {
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px
}

.map-widget {
    border: 5px solid #fff;
    overflow: hidden
}

.map-widget .map-widget__item {
    width: 100%;
    height: 250px;
    margin-bottom: -25px
}

.tags-list__item {
    color: #FFB74D;
    padding: 5px 10px;
    display: inline-block;
    border: 2px solid #FFE0B2;
    margin: 0 2px 7px;
    border-radius: 2px;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: .2s;
    transition-duration: .2s
}

.tags-list__item:hover {
    color: #FF9800;
    border-color: #FFCC80
}

#footer,
.footer__block a {
    color: rgba(255, 255, 255, .8)
}

#footer {
    background-color: #3949AB;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3)
}

@media (min-width:768px) {
    #footer {
        padding-top: 50px
    }
}

.footer__block a:hover {
    color: #fff
}

.footer__title {
    color: #fff;
    font-size: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, .06);
    padding-bottom: 10px;
    margin-bottom: 25px
}

.footer__block--blog>a {
    border-radius: 2px;
    display: block;
    -webkit-transition: color;
    -o-transition: color;
    transition: color;
    -webkit-transition-duration: .2s;
    transition-duration: .2s
}

.footer__block--blog>a>small {
    display: block;
    color: rgba(255, 255, 255, .5);
    margin-top: 2px
}

.footer__block--blog>a,
.footer__block--blog>a>small {
    overflow: hidden
}

.footer__block--blog>a:not(:last-child) {
    margin-bottom: 20px
}

.footer__bottom {
    background-color: rgba(0, 0, 0, .1);
    padding: 25px 20px;
    position: relative
}

.footer__bottom a {
    color: rgba(255, 255, 255, .6)
}

.footer__bottom a:hover {
    color: #fff
}

.footer__to-top {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #FDD835;
    border-radius: 50%;
    text-align: center;
    line-height: 41px;
    font-size: 20px;
    cursor: pointer
}

.footer__to-top:hover {
    background-color: #FBC02D
}

.footer__to-top i {
    color: #3e3e3e
}

@media (min-width:768px) {
    .footer__bottom {
        margin-top: 35px
    }
    .footer__bottom a {
        margin-right: 10px
    }
    .footer__to-top {
        right: 20px;
        bottom: 48px;
        -webkit-transition: background-color;
        -o-transition: background-color;
        transition: background-color;
        -webkit-transition-duration: .2s;
        transition-duration: .2s
    }
    .footer__copyright {
        margin-right: 30px
    }
    .flot-chart-pie {
        margin-bottom: 20px
    }
}

@media (max-width:767px) {
    .footer__bottom {
        text-align: center
    }
    .footer__bottom a {
        display: block;
        padding: 10px 0
    }
    .footer__bottom a:not(:last-child) {
        border-bottom: 1px solid rgba(255, 255, 255, .03)
    }
    .footer__to-top {
        top: -20px;
        left: 50%;
        margin-left: -20px
    }
    .footer__copyright {
        display: block;
        margin-bottom: 20px;
        margin-top: 30px
    }
}

[class*=flot-chart] {
    width: 100%;
    display: block
}

.flot-chart {
    height: 250px
}

.flot-chart-pie {
    height: 300px
}

#flotTip,
.flot-tooltip {
    position: absolute;
    color: #2e353b;
    display: none;
    font-size: 12px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .1);
    padding: 3px 10px;
    background-color: #fff;
    z-index: 99999;
    border-radius: 2px
}

.flot-chart__legends {
    text-align: center;
    margin: 15px 0 -5px
}

.flot-chart__legends table {
    display: inline-block
}

.flot-chart__legends .legendColorBox>div>div {
    border-radius: 50%
}

.flot-chart__legends .legendLabel {
    padding: 0 8px 0 3px
}

.profile__img>img {
    width: 208px;
    float: left;
    border: 5px solid #fff
}

.profile__info {
    padding: 30px 25px;
    overflow: hidden
}

@media (max-width:767px) {
    .profile {
        margin-top: 20px
    }
    .profile__img {
        position: absolute;
        left: 50%;
        margin: -35px 0 0 -65px
    }
    .profile__img>img {
        width: 130px;
        border-radius: 50%;
        box-shadow: 0 -1px 15px rgba(0, 0, 0, .09)
    }
    .profile__info {
        padding-top: 125px;
        text-align: center
    }
    .profile__review {
        border-top: 1px solid #f7f7f7;
        border-bottom: 1px solid #f7f7f7;
        padding: 20px 0
    }
}

.profile__review {
    margin: 20px 0 15px
}

.profile__review>span {
    display: inline-block;
    vertical-align: top
}

.profile__review>span:last-child {
    margin-left: 5px
}

.mortgage-rates {
    border-radius: 3px
}

.mortgage-rates,
.mortgage-rates .card {
    background-color: #03A9F4
}

.mortgage__logo {
    padding: 20px;
    border-right: 1px solid #f1f1f1
}

.mortgage__logo img {
    width: 62px;
    margin-right: 5px;
    margin-top: 5px
}

.mortgage__header {
    border-bottom: 1px solid #f3f3f3
}

.mortgage__header .actions {
    position: absolute;
    top: 38px;
    right: 20px
}

.mortgage__name {
    padding: 20px
}

.mortgage__name strong {
    display: block;
    color: #2e353b;
    font-size: 14px
}

.mortgage__name small {
    margin: 0;
    color: #9c9c9c
}

.mortgage__name .rmd-rate {
    margin: 5px 0 0 -4px
}

.mortgage__body {
    padding: 25px 30px
}

.mortgage__body .btn {
    box-shadow: none;
    margin: 25px 0 10px
}

.mortgage__info small {
    color: #9c9c9c;
    font-size: 14px;
    font-weight: 500
}

.mortgage__info h2 {
    font-weight: 400;
    margin: 0;
    font-size: 30px
}

.mortgage__list {
    list-style: none;
    margin: 15px 0 0;
    padding: 0
}

.mortgage__list>li {
    color: #9c9c9c;
    font-weight: 500;
    padding: 6px 0
}

.mortgage__list>li>i {
    width: 20px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px
}

.mortgage__list>li>i.mortgage__percentage {
    /* background-image: url(../img/icons/percentage.png) */
}

@media only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min--moz-device-pixel-ratio:2),
only screen and (-o-min-device-pixel-ratio:2/1),
only screen and (min-device-pixel-ratio:2),
only screen and (min-resolution:192dpi),
only screen and (min-resolution:2dppx) {
    .mortgage__list>li>i.mortgage__percentage {
        /* background-image: url(../img/icons/percentage@2x.png); */
        background-size: 18px 18px
    }
}

.mortgage__list>li>i.mortgage__permonth {
    /* background-image: url(../img/icons/per_month.png) */
}

@media only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min--moz-device-pixel-ratio:2),
only screen and (-o-min-device-pixel-ratio:2/1),
only screen and (min-device-pixel-ratio:2),
only screen and (min-resolution:192dpi),
only screen and (min-resolution:2dppx) {
    .mortgage__list>li>i.mortgage__permonth {
        /* background-image: url(../img/icons/per_month@2x.png); */
        background-size: 14px 15px
    }
}

.mortgage__list>li>i.mortgage__fee {
    /* background-image: url(../img/icons/fee.png) */
}

@media only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min--moz-device-pixel-ratio:2),
only screen and (-o-min-device-pixel-ratio:2/1),
only screen and (min-device-pixel-ratio:2),
only screen and (min-resolution:192dpi),
only screen and (min-resolution:2dppx) {
    .mortgage__list>li>i.mortgage__fee {
        /* background-image: url(../img/icons/fee@2x.png); */
        background-size: 20px 15px
    }
}

.submit-property {
    text-align: center
}

.submit-property__steps {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    display: inline-block
}

.submit-property__steps>li {
    display: inline-block;
    vertical-align: top;
    padding: 0
}

.submit-property__steps>.submit-property__caret,
.submit-property__steps>li>a {
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms
}

.submit-property__steps>.submit-property__caret {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12px 15px;
    border-color: transparent transparent #fff;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    position: absolute;
    bottom: -43px;
    left: 10px
}

.submit-property__steps>li>a {
    display: block;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;
    line-height: 35px;
    color: #b9b9b9;
    margin: 0 4px
}

.submit-property__steps>li.active>a {
    background-color: #03A9F4;
    color: #fff
}

.submit-property__steps>li.active:nth-child(2)~.submit-property__caret {
    left: calc(20% + 10px)
}

.submit-property__steps>li.active:nth-child(3)~.submit-property__caret {
    left: calc(40% + 10px)
}

.submit-property__steps>li.active:nth-child(4)~.submit-property__caret {
    left: calc(60% + 10px)
}

.submit-property__steps>li.active:nth-child(5)~.submit-property__caret {
    left: calc(80% + 10px)
}

.submit-property__content {
    margin-top: 40px
}

.submit-property__content .tab-pane {
    max-width: 600px;
    margin: 0 auto;
    position: relative
}

.submit-property__content .tab-pane .card {
    padding: 20px 0
}

.submit-property__content .card__body {
    max-width: 450px;
    margin: 20px auto 0
}

.submit-property__content .checkbox {
    display: inline-block
}

.submit-property__button {
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 250ms;
    animation-duration: 250ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.submit-property__success {
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    width: 100%
}

.submit-property__success>i {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 70px;
    font-size: 30px;
    background-color: #4CAF50;
    display: inline-block;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.submit-property__success>h2 {
    font-size: 17px;
    margin: 20px 0 15px
}

.neighb-guide__item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    border: 4px solid #fff;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    margin-bottom: 30px;
    position: relative
}

.neighb-guide__item img {
    width: 100%
}

.neighb-guide__item:hover:before {
    height: 100%;
    background: rgba(0, 0, 0, .5)
}

.neighb-guide__item:hover .neighb-guide__label {
    text-shadow: 0 0 10px #fff
}

.neighb-guide__item:before {
    content: '';
    background: rgba(0, 0, 0, .7);
    height: 62px
}

.neighb-guide__item:before,
.neighb-guide__label {
    position: absolute;
    bottom: 0;
    margin: auto;
    right: 0;
    top: 0;
    width: 100%;
    left: 0;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

.neighb-guide__label {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 28px;
    height: 40px;
    overflow: hidden
}

.logo>img {
    width: 50px;
    display: inline-block;
    float: left;
    margin-right: 12px
}

.logo__text {
    float: left;
    color: #fff;
    padding-top: 3px
}

.logo__text span:first-child {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500
}

.logo__text span:last-child {
    opacity: .5;
    filter: alpha(opacity=50);
    display: block;
    margin-top: -2px
}

.actions>a,
.actions>div,
.actions>div>a {
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 30px;
    text-align: center
}

.actions>a>i,
.actions>div>a>i,
.actions>div>i {
    color: #adadad;
    font-size: 20px;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms
}

.actions>a:hover>i,
.actions>div:hover>i,
.actions>div>a:hover>i {
    color: #2e353b
}

.actions>a,
.actions>div {
    padding-top: 5px
}

.actions__toggle {
    cursor: pointer;
    position: relative
}

.actions__toggle input[type=checkbox] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    opacity: 0;
    filter: alpha(opacity=0)
}

.actions__toggle input[type=checkbox]:checked~i:not(:last-child) {
    display: none
}

.actions__toggle input[type=checkbox]:checked~i:last-child {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100)
}

.actions__toggle>i:last-child,
.color-tag>span>i {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0)
}

.actions__toggle>i {
    position: absolute;
    right: 6px
}

.actions__toggle>i:last-child {
    transform: scale(0);
    opacity: 0;
    filter: alpha(opacity=0);
    color: #FFB300
}

.rmd-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer
}

.rmd-backdrop--dark {
    display: none;
    z-index: 98;
    background-color: rgba(0, 0, 0, .3)
}

#page-loader,
.rmd-sidebar {
    z-index: 100;
    height: 100%;
    top: 0
}

.section__title {
    margin-bottom: 35px;
    position: relative
}

.section__title:not(.text-left) {
    text-align: center
}

.section__title h2 {
    font-size: 19px;
    color: #676767;
    margin: 0;
    font-weight: 400;
    line-height: 140%
}

.section__title small,
.view-more {
    font-size: 13px;
    color: #9c9c9c;
    display: block
}

.section__title small {
    margin-top: 5px
}

.section__title .actions--section {
    display: block;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 0;
    position: relative
}

@media (min-width:768px) {
    .section__title.text-left {
        padding: 0 30px
    }
    .section__title.text-left .actions--section {
        position: absolute;
        top: 20px;
        right: 20px
    }
}

.actions__email .dropdown-menu {
    padding: 30px
}

@media (min-width:992px) {
    .actions__email .dropdown-menu {
        left: auto;
        right: 0;
        width: 350px
    }
}

@media (max-width:991px) {
    .actions__email {
        position: static
    }
    .actions__email .dropdown-menu {
        width: 100%;
        max-width: 350px;
        left: 0;
        right: 0;
        margin: auto
    }
}

.view-more {
    padding: 18px 15px;
    text-align: center
}

.view-more,
.view-more>i {
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: .2s;
    transition-duration: .2s
}

.view-more>i {
    width: 19px;
    height: 19px;
    background: #c1c1c1;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 5px;
    line-height: 20px;
    color: #fff
}

.view-more:focus,
.view-more:hover {
    color: #696969
}

.info-box {
    /* background: url(../img/patterns/header_pattern_3.png) bottom -20px left repeat-x #fff */
}

.info-box__item {
    text-align: center;
    margin: 0 0 30px
}

.info-box__item>h3 {
    font-weight: 400;
    margin: 25px 0 15px
}

.info-box__item>p {
    color: #9c9c9c
}

.info-box__icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FBC02D;
    color: #fff;
    font-size: 20px;
    line-height: 50px
}

.submit-ticker {
    color: #fff;
    text-align: center;
    /* background: url(../img/patterns/header_pattern_2.png) center left repeat-x #FBC02D */
}

.submit-ticker>p {
    margin: 0;
    font-size: 20px
}

.submit-ticker>a {
    display: inline-block;
    color: #fff;
    padding: 12px 23px;
    font-size: 18px;
    border-radius: 2px;
    margin-top: 25px;
    border: 2px solid #fff;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: .2s;
    transition-duration: .2s
}

.submit-ticker>a:hover {
    background-color: #fff;
    color: #FBC02D
}

a.text-muted:focus,
a.text-muted:hover {
    color: #838383
}

.block-opened {
    overflow: hidden
}

.load-more {
    text-align: center;
    margin-top: 35px
}

.load-more a {
    display: inline-block;
    border: 2px solid #bfbfbf;
    padding: 7px 15px;
    border-radius: 2px;
    color: #828282
}

.load-more a,
.load-more a>i {
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: .5s;
    transition-duration: .5s
}

.contact__social>a,
.rmd-sidebar {
    -webkit-transition: all;
    -o-transition: all
}

.load-more a:hover {
    border-color: #b2b2b2;
    color: #696969
}

.load-more a:hover>i {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg)
}

.load-more a>i {
    font-size: 16px;
    line-height: 100%;
    margin-right: 4px;
    position: relative;
    top: 2px
}

.rmd-contact-list {
    list-style: none;
    padding: 0;
    margin: 0
}

.rmd-contact-list>li {
    position: relative;
    padding-left: 30px
}

.rmd-contact-list>li:not(:last-child):not(.rmd-contact-list__title) {
    margin-bottom: 10px
}

.rmd-contact-list>li>i {
    width: 18px;
    text-align: center;
    font-size: 17px;
    top: 2px;
    position: relative;
    margin: 0 10px 0 -30px
}

.rmd-contact-list__title {
    font-size: 14px;
    color: #505c66;
    border-bottom: 1px solid #f9f9f9;
    margin-bottom: 20px;
    padding: 2px 0 10px
}

.rmd-sidebar {
    position: fixed;
    right: -365px;
    padding: 0 0 85px;
    width: 350px;
    background: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
    overflow-y: auto;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

.rmd-sidebar.toggled {
    right: 0;
    opacity: 1;
    filter: alpha(opacity=100)
}

.rmd-sidebar .card {
    box-shadow: none;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding-bottom: 80px
}

.rmd-sidebar .card .card__footer {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0
}

@media (max-width:991px) {
    .rmd-sidebar-mobile {
        position: fixed;
        top: 0;
        right: -365px;
        padding: 0 0 85px;
        height: 100%;
        width: 350px;
        background: #fff;
        box-shadow: 0 0 30px rgba(0, 0, 0, .1);
        z-index: 100;
        overflow-y: auto;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: all;
        -o-transition: all;
        transition: all;
        -webkit-transition-duration: .3s;
        transition-duration: .3s
    }
    .rmd-sidebar-mobile.toggled {
        right: 0;
        opacity: 1;
        filter: alpha(opacity=100)
    }
    .rmd-sidebar-mobile .card {
        box-shadow: none;
        position: absolute;
        top: 0;
        left: 0;
        min-height: 100%;
        width: 100%;
        margin: 0;
        padding-bottom: 80px
    }
    .rmd-sidebar-mobile .card .card__footer {
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 0
    }
}

.blog__arthur-contents,
.contact__map {
    overflow: hidden
}

.agent-reviews__item {
    margin-bottom: 30px
}

.agent-reviews__item .rmd-rate {
    margin: 10px 0 10px -2px
}

.prevent-default {
    cursor: default
}

@media (max-width:600px) {
    .rmd-stats .col-xs-4 {
        width: 100%
    }
}

.rmd-stats__item {
    border-radius: 2px;
    padding: 15px 22px;
    margin-bottom: 20px
}

.rmd-stats__item>h2 {
    color: #fff;
    margin: 0;
    font-weight: 400
}

.rmd-stats__item>small {
    color: rgba(255, 255, 255, .7);
    display: block;
    margin-top: 1px;
    text-transform: uppercase
}

#page-loader {
    width: 100%;
    left: 0;
    background-color: #3F51B5;
    text-align: center;
    position: fixed
}

#page-loader:before {
    content: '';
    width: 1px;
    height: 100%;
    display: inline-block;
    vertical-align: middle
}

html:not(.ie9) .page-loader__spinner {
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 -10px 0 13px rgba(255, 255, 255, .5) inset;
    animation: rotate 1s infinite linear;
    vertical-align: middle
}

.ie9 .page-loader__spinner {
    display: inline-block;
    color: rgba(255, 255, 255, .2)
}

.ie9 .page-loader__spinner:before {
    content: 'Page is loading...'
}

@keyframes rotate {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
}

.blog__tags {
    padding: 25px 5px 18px;
    text-align: center;
    margin-top: 25px;
    border-bottom: 1px solid #f6f6f6;
    border-top: 1px solid #f6f6f6
}

.blog__arthur {
    padding: 30px
}

.blog__arthur-img>img {
    width: 100px;
    height: 100px;
    border-radius: 50%
}

@media (min-width:768px) {
    .blog__arthur-img {
        float: left;
        padding-right: 20px
    }
}

@media (max-width:767px) {
    .blog__arthur,
    .section__title {
        text-align: center
    }
    .blog__arthur-img {
        display: block;
        margin-bottom: 20px
    }
}

.blog__arthur-contents h2 {
    font-size: 15px;
    margin: 0 0 10px
}

.blog__arthur-social {
    margin: 0 -1px
}

.blog__arthur-social>a {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    margin: 0 1px
}

.blog-comment__up {
    text-align: center;
    margin-top: 5px
}

.blog-comment__up span {
    background-color: #EF5350;
    border-radius: 2px;
    padding: 0 5px 1px;
    display: inline-block;
    font-size: 11px;
    color: #fff
}

.actions--blog-comment {
    position: absolute;
    top: 15px;
    right: 10px
}

.blog-comment__reply {
    padding: 20px 20px 14px;
    background: #eee;
    border-radius: 2px;
    margin-bottom: 10px
}

.blog-comment__reply textarea {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    border: 0;
    border-radius: 2px;
    padding: 10px;
    min-height: 70px;
    resize: none
}

.blog-more {
    margin-top: 30px
}

.blog-more>a {
    font-size: 13px;
    color: #2e353b;
    text-transform: uppercase
}

.blog-more>a:hover {
    color: #444f58
}

.contact {
    margin: 60px 0 50px
}

.contact__map {
    box-shadow: 0 0 50px rgba(0, 0, 0, .05)
}

.contact__inner {
    background-color: #fff;
    max-width: 900px;
    margin: -80px auto 0;
    position: relative;
    z-index: 1;
    border-radius: 2px
}

.contact__inner [class*=col-] {
    padding: 0;
    position: static
}

.contact__info {
    padding: 40px
}

.contact__info .rmd-contact-list {
    margin-bottom: 40px
}

.contact__social>a {
    width: 35px;
    height: 35px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    color: #fff;
    line-height: 37px;
    transition: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    border-radius: 50%;
    font-size: 18px;
    margin: 0 1px
}

.contact__form {
    padding: 40px;
    background-color: #FFD54F
}

@media (min-width:768px) {
    .contact__form,
    .contact__form:before {
        border-radius: 0 2px 2px 0
    }
    .contact__form:before {
        content: '';
        position: absolute;
        right: 0;
        width: 50%;
        height: 100%;
        top: 0;
        background-color: #FFD54F;
        z-index: -1
    }
}

.contact__form .btn,
.contact__form .btn:focus,
.contact__form .btn:hover {
    color: #FFB300;
    box-shadow: none
}

.four-zero {
    height: 100vh;
    background-color: #FFD54F
}

.four-zero__content {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 65px;
    max-width: 600px;
    width: 100%;
    color: #fff
}

#header-alt,
.ie-warning {
    position: fixed;
    top: 0;
    left: 0
}

.four-zero__content h1 {
    color: #fff;
    font-size: 100px;
    font-weight: 400;
    margin: 0
}

.four-zero__content p {
    line-height: 170%
}

@media (max-width:767px) {
    .four-zero__content {
        bottom: auto;
        top: 0;
        text-align: center;
        padding: 20px
    }
}

.four-zero__links {
    border-top: 1px solid rgba(255, 255, 255, .3);
    padding-top: 22px
}

.four-zero__links>a {
    color: #fff;
    text-transform: uppercase;
    margin-right: 15px;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    padding-bottom: 5px
}

.four-zero__links>a:hover {
    border-bottom-color: rgba(255, 255, 255, .6)
}

.ie-warning {
    z-index: 9999;
    background: #333;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    font-family: "Courier New", Courier, monospace;
    padding: 50px 0
}

.ie-warning h1 {
    color: #fff
}

.ie-warning p {
    font-size: 17px
}

.ie-warning .ie-warning__inner {
    min-width: 1024px;
    width: 100%;
    height: 200px;
    background: #fff;
    margin: 50px 0
}

.ie-warning .ie-warning__download {
    list-style: none;
    padding: 30px 0;
    margin: 0 auto;
    width: 720px
}

.ie-warning .ie-warning__download>li {
    float: left;
    vertical-align: top
}

.ie-warning .ie-warning__download>li>a {
    display: block;
    color: #000;
    width: 140px;
    font-size: 15px;
    padding: 15px 0
}

.ie-warning .ie-warning__download>li>a>div {
    margin-top: 10px
}

.ie-warning .ie-warning__download>li>a:hover {
    background-color: #eee
}

@media print {
    @page {
        margin: 0;
        size: auto
    }
    body {
        margin: 0!important;
        padding: 0!important
    }
    .card,
    p {
        page-break-inside: avoid
    }
    #footer,
    #header,
    .actions {
        display: none!important
    }
    a[href]:after {
        content: none!important
    }
    .detail-amenities__list>li {
        padding: 0;
        margin-bottom: 10px;
        text-transform: none
    }
    .detail-amenities__list>li:not(:last-child):after {
        content: ','
    }
}

.fc th,
.main__title h2,
.swal2-modal .styled {
    text-transform: uppercase
}

#main {
    padding-top: 70px
}

@media (min-width:1200px) {
    #main {
        padding-left: 250px
    }
}

#main__content {
    position: relative;
    margin-top: 10px;
}

.main__container {
    width: 100%;
    margin: 0 auto
}

@media (min-width:768px) {
    .main__container {
        padding: 100px 40px
    }
}

@media (max-width:767px) {
    .main__container {
        padding: 100px 15px 50px
    }
}

.main__container:not(.main__container-sm) {
    max-width: 1200px
}

.main__container-sm {
    max-width: 900px
}

#header-alt {
    background-color: #3F51B5;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    width: 100%;
    z-index: 10;
    height: 70px;
    padding: 0 30px
}

#header-alt:after,
#header-alt:before {
    content: " ";
    display: table
}

.header-alt__logo {
    float: left;
    font-size: 16px;
    line-height: 70px;
    font-size: 15px;
}

.header-alt__logo,
.header-alt__logo:focus,
.header-alt__logo:hover {
    color: #fff
}

.header-alt__menu {
    padding: 0;
    list-style: none;
    margin: 15px 0 0;
    float: right
}

.header-alt__menu>li {
    display: inline-block;
    padding: 0;
    vertical-align: middle
}

.header-alt__menu>li>a {
    display: block;
    color: #fff
}

.header-alt__menu>li>a>i {
    font-size: 20px
}

.header-alt__menu>li:not(.header-alt__profile)>a {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 45px;
    margin-left: 4px;
    border-radius: 50%;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

.header-alt__menu>li:not(.header-alt__profile).open>a,
.header-alt__menu>li:not(.header-alt__profile)>a:hover {
    background: rgba(0, 0, 0, .15);
    color: #fff
}

@media (max-width:767px) {
    .header-alt__menu>li {
        position: static
    }
    .header-alt__menu>li .dropdown-menu--lg {
        width: calc(100% - 28px)
    }
    .header-alt__menu>li .dropdown-menu {
        right: 14px;
        top: 65px
    }
}

.header-alt__profile {
    margin-left: 10px
}

.header-alt__profile>a>img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .2);
    -webkit-transition: box-shadow;
    -o-transition: box-shadow;
    transition: box-shadow;
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

.header-alt__search-wrap,
.main-menu a {
    -webkit-transition: all;
    -o-transition: all
}

.header-alt__profile>a:hover>img {
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .4)
}

.header-alt__search-wrap {
    position: absolute;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 1;
    height: 100%;
    top: 0;
    -webkit-transform: translate3d(0, -70px, 0);
    transform: translate3d(0, -70px, 0);
    transition: all;
    -webkit-transition-duration: .2s;
    transition-duration: .2s
}

.header-alt__search-wrap.toggled {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 100
}

.header-alt__search {
    position: relative;
    padding: 15px;
    max-width: 700px;
    display: block;
    margin: 0 auto
}

.header-alt__search input[type=text] {
    border: 0;
    height: 40px;
    padding: 0 10px 0 55px;
    font-size: 15px;
    border-radius: 2px;
    background-color: #efefef;
    width: 100%
}

.header-alt__search i {
    position: absolute;
    top: 15px;
    font-size: 23px;
    font-style: normal;
    width: 45px;
    text-align: center;
    border-radius: 2px 0 0 2px;
    cursor: pointer;
    left: 15px;
    height: 40px;
    padding-top: 9px
}

.header-alt__search i:hover {
    background-color: #e3e3e3
}

.backdrop--search {
    z-index: 9
}

.header-alt__trigger {
    height: 70px;
    float: left;
    padding: 25px 30px;
    margin-left: -30px
}

.header-alt__trigger>i {
    color: #fff;
    font-size: 21px
}

.ie9 .header-alt__search-wrap {
    display: none
}

.ie9 .header-alt__search-wrap.toggled {
    display: block
}

.action-header-alt {
    box-shadow: none;
    background-color: #eaeaea;
    padding: 12px 20px;
    z-index: 1;
    left: 0;
    width: 100%;
    position: fixed
}

#main__sidebar,
.list-group--block {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1)
}

@media (min-width:1200px) {
    .action-header-alt {
        padding-left: 260px;
        top: 70px
    }
    .main-menu {
        margin: 30px 0 0
    }
}

@media (max-width:991px) {
    .action-header-alt {
        position: absolute;
        top: 0
    }
}

.action-header__views>a {
    color: #a0a0a0
}

.action-header__views>a.active {
    color: #2196F3
}

#main__sidebar {
    width: 250px;
    position: fixed;
    z-index: 2;
    left: 0;
    background: #fff;
    overflow: auto
}

@media (min-width:1199px) {
    #main__sidebar {
        height: calc(100% - 70px);
        top: 70px
    }
}

@media (max-width:1199px) {
    #main__sidebar {
        -webkit-transition: all;
        -o-transition: all;
        transition: all;
        -webkit-transition-duration: .3s;
        transition-duration: .3s;
        -webkit-transform: translate3d(-270px, 0, 0);
        transform: translate3d(-270px, 0, 0);
        opacity: 0;
        filter: alpha(opacity=0);
        top: 0;
        height: 100%;
        z-index: 101
    }
    #main__sidebar.toggled {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
        filter: alpha(opacity=100)
    }
    #main__sidebar.toggled .main__block-close>i {
        left: 0;
        opacity: 1;
        filter: alpha(opacity=100)
    }
}

.main-menu {
    list-style: none;
    padding: 0
}

.main-menu a {
    transition: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

.main-menu .active>a,
.main-menu a.active,
.main-menu a:hover {
    color: #262626
}

.main-menu>li>a {
    padding: 14px 20px 14px 65px;
    display: block;
    font-weight: 500;
    position: relative;
    color: #4C4C4C;
    font-size: 15px;
}

.main-menu>li>a>i {
    position: absolute;
    left: 25px;
    font-size: 20px;
    top: 0;
    width: 25px;
    text-align: center;
    padding: 13px 0
}

.main-menu>li.active>a,
.main-menu>li>a:hover {
    background-color: #f7f7f7
}

.main__block-close {
    display: block;
    height: 70px;
    background: #3F51B5;
    margin-bottom: 20px
}

.main__block-close,
.main__block-close:focus,
.main__block-close:hover,
.main__block-close>i {
    color: #fff
}

.main__block-close>i {
    font-size: 20px;
    width: 37px;
    height: 37px;
    background: rgba(255, 255, 255, .15);
    border-radius: 50%;
    text-align: center;
    line-height: 37px;
    margin: 17px 22px;
    position: relative;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: left;
    -o-transition: left;
    transition: left;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
    left: -70px
}

.tasks-lists .list-group-item .checkbox {
    color: #2e353b;
    margin: 0
}

.tasks-lists .list-group-item .checkbox input:checked+.checkbox__helper+* {
    text-decoration: line-through
}

.tasks-lists .list-group__attrs {
    padding-left: 50px;
    margin-top: 10px
}

.tasks-list__info>small {
    display: block;
    margin-top: 3px
}

.list-group--block {
    position: relative;
    margin-bottom: 25px;
    border-radius: 2px;
    display: block
}

.list-group--block .list-group-item {
    padding: 22px 25px
}

.list-group--block .list-group-item:not(:last-child) {
    border-bottom: 1px solid #f7f7f7
}

.list-group--block:not([class*=mdc-bg-]) {
    background: #fff
}

.list-group--block:after,
.list-group--block:before {
    content: " ";
    display: table
}

.list-group__label>a,
.list-group__label>span {
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    padding: 6px 15px 7px;
    font-weight: 500
}

.list-group__label>a>i,
.list-group__label>span>i {
    font-size: 17px;
    vertical-align: top;
    position: relative;
    margin-right: 5px;
    top: 1px
}

.list-group__label:not(.list-group__label--float) {
    margin-top: 15px
}

@media (min-width:992px) {
    .list-group__label--float {
        position: absolute;
        top: 50%;
        right: 50px;
        margin-top: -16px
    }
}

@media (max-width:991px) {
    .list-group__label--float {
        margin-top: 15px
    }
    .groups-grid--listing {
        text-align: center
    }
}

.leads-favourite {
    text-align: center;
    padding-right: 5px;
    margin-top: 10px
}

.leads-reply {
    margin: 7px 15px 0
}

.leads-status__not-contacted.active {
    background-color: #FFA726!important
}

.leads-status__contacted.active {
    background-color: #66BB6A!important
}

.leads-status__cancelled.active {
    background-color: #EF5350!important
}

.leads-status-alt {
    width: 40px;
    height: 40px;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 19px
}

.avatar-char {
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-weight: 500
}

.avatar-char:not([class*=avatar-char--]) {
    width: 50px;
    height: 50px;
    font-size: 22px;
    line-height: 50px
}

.avatar-char--sm {
    width: 39px;
    height: 39px;
    line-height: 39px;
    font-size: 18px
}

#view-contact .modal-dialog {
    padding-top: 100px
}

@media (min-width:768px) {
    #view-contact .modal-dialog {
        max-width: 420px
    }
}

.view-contact__img {
    text-align: center;
    margin-top: -100px
}

.view-contact__img img {
    border: 5px solid #fff
}

.new-contact__img {
    background-color: #f4f4f4;
    padding: 40px 20px;
    margin: 0 5px 20px;
    position: relative;
    top: 5px;
    text-align: center
}

.new-contact__img img {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    border: 5px solid #fff;
    box-shadow: 0 0 0 1px #f1f1f1
}

.new-contact__upload {
    font-size: 25px;
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    line-height: 47px;
    text-align: center;
    left: 10px;
    top: 10px;
    cursor: pointer;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

.new-contact__upload:hover {
    background-color: rgba(0, 0, 0, .08);
    color: #2e353b
}

.contact-highlight {
    background: #f7f7f7;
    padding: 20px 30px
}

.groups-grid__item {
    text-align: center;
    padding: 25px 10px 18px
}

.groups-grid__img {
    width: 85px;
    display: inline-block
}

.groups-grid__avatar {
    display: inline-block;
    margin: 0 -1px 3px 0;
    vertical-align: top
}

.groups-grid__avatar:not(.avatar-char) {
    width: 40px;
    height: 40px;
    border-radius: 50%
}

.groups-grid__info {
    margin-top: 15px
}

.groups-grid__info>strong {
    color: #2e353b;
    display: block
}

.groups-grid--widget {
    padding: 0 2px
}

.groups-grid--widget .groups-grid__item {
    background-color: #f6f6f6;
    border: 2px solid #fff;
    width: 50%;
    float: left
}

.groups-grid--widget .groups-grid__item:hover {
    background-color: #f1f1f1
}

.groups-grid__wrap {
    position: relative;
    display: inline-block
}

.groups-grid__wrap:hover .groups-grid__item {
    background-color: #fbfbfb
}

.groups-grid--listing {
    margin: 0 -8px
}

.groups-grid--listing .groups-grid__item {
    position: relative;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    margin-bottom: 25px;
    border-radius: 2px;
    width: 160px;
    display: inline-block;
    margin-right: 8px;
    margin-left: 8px
}

.groups-grid--listing .groups-grid__item:not([class*=mdc-bg-]) {
    background: #fff
}

.groups-grid--listing .groups-grid__item:after,
.groups-grid--listing .groups-grid__item:before {
    content: " ";
    display: table
}

.activity-log:before,
.notes>a:before {
    content: ''
}

.groups-grid__actions {
    position: absolute;
    top: 8px;
    right: 10px;
    z-index: 1
}

.notes {
    margin-bottom: 30px
}

.notes>a {
    height: 155px;
    background-color: #fff;
    display: block;
    padding: 23px 29px;
    position: relative
}

.notes:hover>a,
.notes>a:before {
    background-color: #fbfbfb
}

.notes>a:before,
.notes__actions {
    position: absolute;
    -webkit-transition: all;
    -o-transition: all
}

.notes>a,
.notes>a:before {
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .08)
}

.notes>a:before {
    width: calc(100% - 10px);
    bottom: -5px;
    left: 5px;
    z-index: -1;
    height: 20px;
    transition: all;
    -webkit-transition-duration: .2s;
    transition-duration: .2s
}

.notes:hover>a:before {
    bottom: -8px
}

.notes:hover .notes__actions {
    opacity: 1;
    filter: alpha(opacity=100)
}

.color-tag>span>input[type=radio],
.notes__actions,
.questions-answers__voting>span input {
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.notes__title {
    color: #2e353b;
    margin-bottom: 13px;
    font-size: 15px;
    overflow: hidden
}

.notes__body {
    color: #828282
}

.notes__actions {
    right: 25px;
    bottom: 14px;
    font-size: 14px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: rgba(0, 0, 0, .7);
    border-radius: 50%;
    line-height: 30px;
    color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, .5);
    transition: all;
    -webkit-transition-duration: .2s;
    transition-duration: .2s
}

.team__social>a,
[data-calendar-month] {
    -webkit-transition: all;
    -o-transition: all
}

.notes__actions:hover {
    background: rgba(0, 0, 0, .9)
}

.note-view__field {
    border-bottom: 1px solid #f1f1f1
}

.note-view__field input {
    border: 0;
    font-size: 15px;
    padding: 20px 25px 19px;
    height: auto
}

.note-view__field--tag {
    padding: 15px 23px 12px
}

.note-view__label {
    float: left;
    font-size: 16px;
    color: #9a9a9a;
    margin: 5px 20px 0 0
}

.notes--red>a:before {
    background-color: #EF5350!important
}

.notes--blue>a:before {
    background-color: #42A5F5!important
}

.notes--green>a:before {
    background-color: #66BB6A!important
}

.notes--amber>a:before {
    background-color: #FFCA28!important
}

.notes--teal>a:before {
    background-color: #26A69A!important
}

.notes--cyan>a:before {
    background-color: #26C6DA!important
}

.notes--pink>a:before {
    background-color: #EC407A!important
}

.ie9 .notes {
    overflow: hidden;
    padding-bottom: 6px
}

.ie9 .notes:hover>a:before {
    bottom: -5px
}

.ie9 .notes__body {
    height: 110px;
    overflow: hidden
}

.ie9 .notes__title+.notes__body {
    height: 76px
}

.ie9 .note-view__body {
    border: 0;
    width: 100%;
    overflow: auto!important;
    height: 250px;
    padding: 25px
}

.main__title--calendar {
    padding-right: 65px
}

.actions--calendar>a>i {
    font-size: 30px
}

.fc-event--cyan {
    background-color: #26C6DA
}

.fc-event--amber {
    background-color: #FFC107
}

.fc-event--green {
    background-color: #66BB6A
}

.fc-event--blue {
    background-color: #42A5F5
}

.fc-event--teal {
    background-color: #26A69A
}

.fc-event--red {
    background-color: #EF5350
}

.fc-event--purple {
    background-color: #AB47BC
}

[data-calendar-month] {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}
/* 
[data-calendar-month="0"] {
    background-image: url(../img/calendar/january.jpg)
}

[data-calendar-month="1"] {
    background-image: url(../img/calendar/february.jpg)
}

[data-calendar-month="2"] {
    background-image: url(../img/calendar/march.jpg)
}

[data-calendar-month="3"] {
    background-image: url(../img/calendar/april.jpg)
}

[data-calendar-month="4"] {
    background-image: url(../img/calendar/may.jpg)
}

[data-calendar-month="5"] {
    background-image: url(../img/calendar/june.jpg)
}

[data-calendar-month="6"] {
    background-image: url(../img/calendar/july.jpg)
}

[data-calendar-month="7"] {
    background-image: url(../img/calendar/august.jpg)
}

[data-calendar-month="8"] {
    background-image: url(../img/calendar/september.jpg)
}

[data-calendar-month="9"] {
    background-image: url(../img/calendar/october.jpg)
}

[data-calendar-month="10"] {
    background-image: url(../img/calendar/november.jpg)
}

[data-calendar-month="11"] {
    background-image: url(../img/calendar/december.jpg)
} */

.calendar-widget__body {
    padding: 0 20px
}

.calendar-widget__year {
    color: rgba(255, 255, 255, .6);
    font-size: 15px
}

.calendar-widget__day {
    font-size: 25px;
    line-height: 100%;
    color: #fff
}

.event-date {
    width: 70px;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 2px;
    padding: 5px 5px 2px;
    margin-top: -3px;
    background-color: #fff;
    position: relative
}

.event-date__day {
    display: block;
    font-size: 20px;
    line-height: 100%
}

.event-date__month-time {
    color: #9c9c9c;
    font-size: 12px
}

.questions-answers__votes {
    width: 60px;
    height: 43px;
    background: #FF9800;
    border-radius: 2px;
    text-align: center;
    padding: 7px 0 0
}

.questions-answers__votes h3 {
    margin: 0;
    font-size: 14px;
    color: #fff
}

.questions-answers__votes small {
    font-size: 11px;
    color: rgba(255, 255, 255, .7);
    display: block
}

.questions-answers__voting {
    margin-top: 15px;
    text-align: center
}

.questions-answers__voting>span {
    position: relative;
    display: block
}

.questions-answers__voting>span:hover .zmdi {
    color: #b2b2b2
}

.questions-answers__voting>span input {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0
}

.questions-answers__voting>span input:checked+.zmdi-thumb-up {
    color: #4CAF50
}

.questions-answers__voting>span input:checked+.zmdi-thumb-down {
    color: #EF5350
}

.questions-answers__voting>span .zmdi {
    display: block;
    font-size: 20px;
    line-height: 100%;
    color: #bfbfbf;
    margin-bottom: 5px
}

.questions-answers__voting>span .zmdi.zmdi-thumb-up.toggled {
    color: #4CAF50
}

.questions-answers__voting>span .zmdi.zmdi-thumb-down.toggled {
    color: #EF5350
}

.questions-answers__favourite {
    text-align: center;
    padding-right: 0;
    margin-top: 3px;
    position: absolute;
    bottom: 14px;
    left: 38px
}

.questions-answers__main {
    margin: 20px 0 70px
}

.questions-answers__main .pull-left {
    margin-right: 5px
}

.questions-answers__main .pull-left img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, .1)
}

.activity-log__content,
.team__item {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1)
}

.questions-answers__main .media-body p {
    font-size: 15px;
    color: #525252
}

.questions-answers__attrs {
    border-top: 2px solid #e9e9e9;
    padding-top: 27px;
    position: relative
}

.questions-answers__attrs>a,
.questions-answers__attrs>span {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid #e4e4e4;
    border-radius: 2px;
    margin-bottom: 3px
}

.questions-answers__attrs>a>i,
.questions-answers__attrs>span>i {
    font-size: 15px;
    position: relative;
    top: 1px;
    margin-right: 5px
}

.questions-answers__attrs>a:not([class*=mdc-text-]),
.questions-answers__attrs>span:not([class*=mdc-text-]) {
    color: #828282
}

.questions-answers__attrs>a:hover {
    background-color: #fff
}

@media (min-width:618px) {
    .questions-answers__actions {
        position: absolute;
        top: 10px;
        right: 0
    }
}

@media (max-width:617px) {
    .questions-answers__actions {
        margin: 12px 0 0 -5px
    }
}

.questions-answers__reply {
    max-width: 900px;
    margin: 0 auto
}

.activity-log {
    position: relative;
    padding-bottom: 20px;
    margin-top: 30px
}

.activity-log:after,
.activity-log:before {
    position: absolute
}

.activity-log:before {
    background-color: #e4e4e4;
    left: 90px;
    top: 0;
    width: 1px;
    height: calc(100% - 15px)
}

.activity-log:after {
    bottom: -25px;
    left: 40px;
    content: "You've reached end";
    border: 2px solid #dfdfdf;
    padding: 8px 16px;
    border-radius: 2px;
    font-size: 15px
}

.activity-log__item {
    position: relative;
    padding: 70px 0 0 130px
}

@media (max-width:767px) {
    .activity-log__item {
        padding: 70px 0 0 15px
    }
    .activity-log__time {
        display: none
    }
}

.activity-log__date {
    border: 2px solid #dfdfdf;
    position: absolute;
    top: 0;
    left: 30px;
    padding: 8px 16px;
    border-radius: 2px;
    font-size: 15px;
    background-color: #f3f3f3;
    z-index: 1
}

.activity-log__content {
    position: relative;
    background-color: #fff;
    padding: 20px 20px 20px 30px;
    border-radius: 2px;
    margin-bottom: 30px
}

.activity-log__content:before {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    color: #fff;
    position: absolute;
    left: -16px;
    top: 50%;
    margin-top: -15px;
    font-family: Material-Design-Iconic-Font
}

.activity-log__content--listing {
    border-left: 3px solid #4DB6AC
}

.activity-log__content--listing:before {
    content: '\f320';
    background-color: #4DB6AC
}

.activity-log__content--lead {
    border-left: 3px solid #64B5F6
}

.activity-log__content--lead:before {
    content: '\f10c';
    background-color: #64B5F6
}

.activity-log__content--contact {
    border-left: 3px solid #BA68C8
}

.activity-log__content--contact:before {
    content: '\f203';
    background-color: #BA68C8
}

.activity-log__content--task {
    border-left: 3px solid #F06292
}

.activity-log__content--task:before {
    content: '\f269';
    background-color: #F06292
}

.activity-log__content--notes {
    border-left: 3px solid #FF9800
}

.activity-log__content--notes:before {
    content: '\f222';
    background-color: #FF9800
}

.activity-log__content--calendar {
    border-left: 3px solid #8BC34A
}

.activity-log__content--calendar:before {
    content: '\f332';
    background-color: #8BC34A
}

.activity-log__content--qa {
    border-left: 3px solid #00BCD4
}

.activity-log__content--qa:before {
    content: '\f1f6';
    background-color: #00BCD4
}

.activity-log__content--message {
    border-left: 3px solid #78909C
}

.activity-log__content--message:before {
    content: '\f15a';
    background-color: #78909C
}

@media (min-width:768px) {
    .activity-log__content {
        max-width: 500px
    }
    .activity-log__time {
        position: absolute;
        left: -127px;
        padding: 3px 6px;
        border: 1px solid #e4e4e4;
        border-radius: 2px;
        font-size: 12px;
        min-height: 25px;
        top: 50%;
        margin-top: -12px
    }
    .activity-log__time:after,
    .activity-log__time:before {
        content: '';
        position: absolute
    }
    .activity-log__time:before {
        width: 9px;
        height: 9px;
        right: -25px;
        top: 7px;
        background-color: #bebebe;
        border-radius: 50%;
        z-index: 1
    }
    .activity-log__time:after {
        height: 1px;
        background-color: #e4e4e4;
        width: 47px;
        left: 63px;
        top: 11px
    }
}

.activity-log__attrs {
    margin-top: 13px
}

.activity-log__attrs>span {
    padding: 3px 10px;
    display: inline-block;
    font-size: 12px;
    border: 1px solid #f1f1f1;
    border-radius: 2px
}

.activity-log__list img:not(.img-circle),
.team__item {
    border-radius: 2px
}

.activity-log__attrs>span.activity-log__added {
    border-color: #66BB6A;
    background-color: #66BB6A;
    color: #fff
}

.activity-log__attrs>span.activity-log__updated {
    border-color: #FFC107;
    background-color: #FFC107;
    color: #fff
}

.activity-log__attrs>span.activity-log__removed {
    border-color: #EF5350;
    background-color: #EF5350;
    color: #fff
}

.activity-log__text>a {
    color: #2e353b
}

.activity-log__text>small {
    color: #9c9c9c;
    margin-top: 3px
}

.activity-log__text>a,
.activity-log__text>small {
    display: block;
    overflow: hidden
}

.faq__item .card__header {
    padding-bottom: 15px
}

.faq__item .card__header h2 {
    line-height: 140%
}

.team {
    margin-top: 100px
}

.team__item {
    position: relative;
    display: block;
    padding-top: 125px;
    text-align: center;
    margin-bottom: 80px
}

.team__item:not([class*=mdc-bg-]) {
    background: #fff
}

.team__item:after,
.team__item:before {
    content: " ";
    display: table
}

@media (max-width:767px) {
    .team__item {
        max-width: 365px;
        margin: 0 auto 80px
    }
}

.team__img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 5px solid #fff;
    right: 0;
    left: 0;
    margin: auto;
    position: absolute;
    top: -45px;
    box-shadow: 0 -1px 15px rgba(0, 0, 0, .09)
}

.team__info {
    padding: 0 30px
}

.team__info>h4 {
    font-size: 15px;
    font-weight: 400;
    margin-top: 0
}

.team__info>small {
    display: block;
    color: #9c9c9c;
    margin-bottom: 15px
}

.team__info>p {
    font-size: 12px
}

.team__social {
    margin: 25px 0 30px
}

.team__social>a {
    display: inline-block;
    vertical-align: top;
    width: 29px;
    height: 29px;
    text-align: center;
    line-height: 31px;
    border-radius: 50%;
    font-size: 14px;
    color: #fff;
    transition: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

.quick-stats {
    background-color: #efefef;
    margin-bottom: -50px
}

.quick-stats [class*=col-] {
    padding: 0 0 10px
}

.quick-stats__item>header {
    padding: 18px 23px;
    position: relative
}

.quick-stats__item>header>small {
    font-size: 13px
}

.quick-stats__item small {
    color: #9c9c9c;
    margin-top: 3px;
    display: block
}

.quick-stats__item h2,
.quick-stats__item h3 {
    margin: 0;
    color: #676767;
    font-weight: 400
}

.quick-stats__list {
    padding: 10px 25px;
    position: relative
}

.quick-stats__list:not(:last-child) {
    background: #eaeaea
}

.quick-stats__list>small {
    font-size: 12px
}

.quick-stats__change {
    position: absolute;
    top: 50%;
    border-radius: 50%;
    text-align: center;
    border-width: 2px;
    border-style: solid
}

.quick-stats__change:not(.quick-stats__change--sm) {
    margin-top: -15px;
    font-size: 18px;
    width: 30px;
    height: 30px;
    line-height: 27px;
    right: 17px
}

.quick-stats__change.quick-stats__change--sm {
    right: 20px;
    margin-top: -12px;
    font-size: 14px;
    width: 24px;
    height: 24px;
    line-height: 21px
}

.quick-stats__change.quick-stats__change--up {
    border-color: #66BB6A;
    color: #4CAF50
}

.quick-stats__change.quick-stats__change--down {
    border-color: #E57373;
    color: #EF5350
}

.main__title {
    margin-bottom: 30px;
    padding: 0 30px;
    position: relative
}

.main__title h2 {
    font-size: 17px;
    color: #676767;
    margin: 0;
    font-weight: 400
}

.main__title small {
    display: block;
    margin-top: 8px;
    color: #9c9c9c;
    font-size: 13px
}

.main__title .actions {
    position: absolute;
    top: 10px;
    right: 0
}

@media (max-width:767px) {
    .main__title .actions {
        margin-top: -20px
    }
}

.color-tag>span {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0 0 3px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    cursor: pointer
}

.color-tag>span.color-tag__default {
    border: 1px solid #f1f1f1;
    background-color: #fff
}

.color-tag>span.color-tag__default>i:before {
    color: #2e353b
}

.color-tag>span,
.color-tag>span>i {
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: .2s;
    transition-duration: .2s
}

.color-tag>span>input[type=radio] {
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2
}

.color-tag>span>input[type=radio]:checked+i {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1)
}

.color-tag>span:hover {
    opacity: .8;
    filter: alpha(opacity=80)
}

.color-tag>span>i {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 4px 0 0 7px;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: scale(0)
}

.color-tag>span>i:before {
    content: '\f26b';
    font-family: Material-Design-Iconic-Font;
    color: #fff;
    font-size: 16px;
    z-index: 1
}

#footer-alt {
    padding: 25px;
    text-align: center;
    border-top: 1px solid #eaeaea
}

#footer-alt,
#footer-alt a {
    color: #a2a2a2
}

#footer-alt a:hover {
    color: #777
}

.footer-alt__menu {
    padding: 0;
    margin: 5px 0 0;
    list-style: none;
    display: block
}

.footer-alt__menu>li {
    display: inline-block;
    vertical-align: top;
    padding: 0
}

.footer-alt__menu>li>a {
    display: block;
    padding: 5px 8px
}

.select2-container--default .select2-selection--single {
    border-radius: 0;
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid #eee;
    padding-right: 28px
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-top: 0
}

.select2-container--default .select2-search--dropdown {
    margin-top: -10px;
    border-bottom: 1px solid #f5f5f5;
    border-radius: 2px 2px 0 0;
    position: relative;
    margin-bottom: 10px
}

.select2-container--default .select2-search--dropdown:before {
    font-family: Material-Design-Iconic-Font;
    content: '\f1c3';
    font-size: 20px;
    color: #4C4C4C;
    position: absolute;
    left: 18px;
    top: 9px
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 0;
    background-color: transparent;
    height: 35px;
    color: #4C4C4C;
    padding: 5px 10px 5px 40px
}

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: rgba(0, 0, 0, .04);
    color: #4C4C4C
}

.select2-container--default .select2-results__option[aria-selected=true] {
    position: relative;
    padding-right: 35px
}

.select2-container--default .select2-results__option[aria-selected=true]:before {
    font-family: Material-Design-Iconic-Font;
    content: '\f26b';
    position: absolute;
    top: 7px;
    right: 13px;
    font-size: 18px;
    color: #4C4C4C
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 0
}

.select2-container--default .select2-selection--multiple {
    border: 0;
    box-shadow: 0 1px 0 0 #eee;
    border-radius: 0;
    padding-bottom: 1px
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    border-radius: 2px;
    border: 0;
    background-color: #eee;
    padding: 5px 10px
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    margin-right: 8px
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding: 0
}

.select2-dropdown {
    border: 0;
    border-radius: 2px;
    padding: 10px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.select2-dropdown.select2-dropdown--above {
    margin-bottom: -36px
}

.select2-dropdown.select2-dropdown--below {
    margin-top: -2px
}

.select2-results__option {
    padding: 10px 15px;
    -webkit-transition: background-color;
    -o-transition: background-color;
    transition: background-color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    font-size: 13px;
    color: #4C4C4C;
    cursor: pointer
}

.select2-container--open .select2-dropdown--below {
    min-width: 120px
}

.select2-container .select2-selection--single {
    height: 35px
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-top: 7px;
    padding-left: 2px;
    padding-right: 0;
    line-height: 1.42857143;
    color: #2e353b
}

.select2-container .select2-search--inline .select2-search__field {
    margin-top: 10px
}

.select2-results__message {
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    color: #9c9c9c
}

.form-group--light .select2-container--default .select2-selection--single {
    border-bottom: 1px solid rgba(255, 255, 255, .25)
}

.form-group--light .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #fff transparent transparent
}

.form-group--light .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #fff;
    font-weight: 500
}

.header__recommended .slick-arrow {
    position: absolute;
    font-size: 0;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    border: 0;
    background: rgba(0, 0, 0, .1);
    top: 50%;
    margin-top: -20px;
    text-align: center
}

.header__recommended .slick-arrow,
.header__recommended .slick-arrow:before {
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

.header__recommended .slick-arrow:not(.slick-disabled):hover {
    background: rgba(0, 0, 0, .2)
}

.header__recommended .slick-arrow:not(.slick-disabled):hover:before {
    color: #fff
}

.header__recommended .slick-arrow:before {
    font-family: Material-Design-Iconic-Font;
    font-size: 25px;
    color: rgba(255, 255, 255, .8);
    line-height: 37px
}

.header__recommended .slick-prev {
    left: 22px
}

.header__recommended .slick-prev:before {
    content: '\f2fa'
}

.header__recommended .slick-next {
    right: 22px
}

.header__recommended .slick-next:before {
    content: '\f2fb';
    margin-right: -3px
}

.header__recommended .slick-disabled {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0)
}

.slick-dots {
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
    text-align: center
}

.slick-dots>li {
    display: inline-block;
    vertical-align: top;
    padding: 0
}

.slick-dots>li>a {
    display: block
}

.slick-dots>li button {
    border: 0;
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, .2);
    padding: 0;
    position: relative
}

.slick-dots>li button:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 20px;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 50%;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms
}

.slick-dots>li.slick-active button:before {
    opacity: 1;
    filter: alpha(opacity=100);
    top: 0
}

.slick-dots.slick-dots-light>li button {
    background-color: rgba(255, 255, 255, .2)
}

.slick-dots.slick-dots-light>li button:before {
    background-color: rgba(255, 255, 255, .7)
}

.noUi-target {
    border-radius: 0;
    box-shadow: none;
    border: 0
}

.noUi-background {
    background: #ddd;
    box-shadow: none
}

.noUi-horizontal {
    height: 2px;
    margin-left: 3px
}

.noUi-horizontal .noUi-handle {
    top: -6px;
    left: -1px
}

.noUi-origin {
    border-radius: 0
}

.noUi-vertical {
    width: 3px
}

.noUi-connect {
    background: #03A9F4;
    box-shadow: none
}

.noUi-horizontal .noUi-handle,
.noUi-vertical .noUi-handle {
    width: 15px;
    height: 15px;
    border: 0;
    border-radius: 100%;
    box-shadow: none;
    -webkit-transition: box-shadow;
    -o-transition: box-shadow;
    transition: box-shadow;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    cursor: pointer;
    position: relative;
    background-color: #03A9F4
}

.waves-effect .waves-ripple,
.waves-float {
    -webkit-transition: all;
    -o-transition: all
}

.noUi-horizontal .noUi-handle:after,
.noUi-horizontal .noUi-handle:before,
.noUi-vertical .noUi-handle:after,
.noUi-vertical .noUi-handle:before {
    display: none
}

.noUi-horizontal .noUi-active,
.noUi-vertical .noUi-active {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, .06)
}

.noUi-tooltip {
    border: 0;
    background: #ddd;
    padding: 5px 10px
}

.input-slider-values {
    font-size: 12px;
    font-weight: 500;
    color: #2e353b;
    margin: 5px 0 10px;
    padding: 0 2px
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.fc button,
.loading>i,
.waves-block {
    display: block
}

.waves-effect .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    opacity: 0;
    background: rgba(0, 0, 0, .1);
    transition: all;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transform: scale(0) translate(0, 0);
    -moz-transform: scale(0) translate(0, 0);
    -ms-transform: scale(0) translate(0, 0);
    -o-transform: scale(0) translate(0, 0);
    transform: scale(0) translate(0, 0);
    pointer-events: none
}

.waves-effect.waves-light .waves-ripple {
    background: rgba(255, 255, 255, .35)
}

.waves-effect.waves-classic .waves-ripple {
    background: rgba(0, 0, 0, .2)
}

.waves-effect.waves-classic.waves-light .waves-ripple {
    background: rgba(255, 255, 255, .4)
}

.waves-notransition {
    -webkit-transition: none;
    -o-transition: none;
    transition: none
}

.waves-button,
.waves-circle {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-mask-image: -webkit-radial-gradient(circle, #fff 100%, #000 100%)
}

.waves-input-wrapper {
    border-radius: .2em;
    vertical-align: bottom
}

.waves-input-wrapper.waves-button {
    padding: 0
}

.waves-input-wrapper .waves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1
}

.waves-float {
    -webkit-mask-image: none;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms
}

.lg-outer .lg-thumb-outer {
    background-color: #1D1D1D
}

.lg-outer .lg-thumb-item {
    border: 0
}

.lg-outer .lg-thumb-item:hover {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, .1)
}

.lg-outer .lg-image {
    border-radius: 3px
}

.lg-outer .lg-toogle-thumb {
    border-radius: 50%;
    color: #2e353b;
    height: 51px;
    width: 51px;
    line-height: 41px;
    background-color: #fff;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: .8s;
    transition-duration: .8s
}

.lg-outer .lg-toogle-thumb:hover {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    color: #000
}

.lg-outer:not(.lg-thumb-open) .lg-toogle-thumb {
    top: -70px
}

.lg-outer.lg-thumb-open .lg-toogle-thumb {
    top: -26px
}

.lg-thumb.group {
    padding: 20px 0
}

.lg-slide em {
    font-style: normal
}

.lg-slide em h3 {
    color: #fff;
    margin-bottom: 5px
}

.lg-outer .lg-item:before {
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, .1);
    border-right-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    -webkit-animation-name: loader;
    animation-name: loader;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.loading>i {
    width: 100%;
    height: 100%;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: loader 1.1s infinite linear;
    animation: loader 1.1s infinite linear;
    border-left-color: #fff;
    border-style: solid
}

.jq-ry-container {
    padding: 0
}

.swal2-modal {
    border-radius: 2px;
    padding: 30px!important;
    font-family: Roboto, sans-serif;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .07)
}

.swal2-modal h2 {
    font-size: 16px;
    position: relative;
    z-index: 1;
    color: #333;
    line-height: inherit;
    margin: 0 0 5px;
    font-weight: 500
}

.swal2-modal .swal2-icon {
    margin-top: 0;
    margin-bottom: 20px
}

.swal2-modal .swal2-content {
    color: #9c9c9c;
    font-size: 13px;
    font-weight: 400
}

.swal2-modal .styled {
    padding: 6px 12px;
    font-size: 12px;
    border-radius: 2px;
    margin: 0 2px;
    font-weight: 400;
    font-family: inherit;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

.swal2-modal .styled:not(:hover) {
    opacity: .85;
    filter: alpha(opacity=85)
}

.swal2-modal hr {
    margin: 10px 0
}

.swal2-container.in {
    background-color: rgba(0, 0, 0, .2)
}

.fc button,
.fc table {
    background: 0 0
}

.fc th {
    font-weight: 500;
    padding: 12px 12px 10px
}

.fc table tr>td:first-child {
    border-left-width: 0
}

.fc button {
    border: 0;
    box-shadow: none;
    padding: 0;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    width: 30px;
    height: 30px;
    color: #2e353b;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms
}

.fc button:hover {
    background-color: #f2f2f2
}

.fc div.fc-row {
    margin-right: 0;
    border: 0
}

.fc-unthemed .fc-today {
    color: #FFC107;
    background-color: transparent
}

.fc-toolbar {
    margin-bottom: 0;
    padding: 30px 17px 19px;
    position: relative
}

.fc-toolbar h2 {
    margin-top: 7px
}

.fc-icon:before {
    position: relative;
    z-index: 1;
    font-family: Material-Design-Iconic-Font
}

.fc-icon.fc-icon-left:before {
    content: "\f2ff"
}

.fc-icon.fc-icon-right:before {
    content: "\f301"
}

.fc-event {
    padding: 0;
    font-size: 11px;
    border-radius: 2px;
    border: 0
}

.fc-event .fc-title {
    padding: 2px 8px;
    display: block;
    overflow: hidden
}

.fc-event .fc-time {
    float: left;
    background: rgba(0, 0, 0, .2);
    padding: 2px 6px;
    margin: 0 0 0 -1px
}

.fc-view,
.fc-view>table {
    border: 0;
    overflow: hidden
}

.fc-view>table>tbody>tr .ui-widget-content {
    border-top: 0
}

#calendar {
    z-index: 0
}

#calendar td,
#calendar th {
    border-color: #f6f6f6
}

#calendar .fc-toolbar {
    height: 250px;
    background-color: #fff;
    border-radius: 2px 2px 0 0;
    position: relative;
    margin-bottom: -2px;
    z-index: 2
}

@media (max-width:767px) {
    #calendar .fc-toolbar {
        height: 135px
    }
    .trumbowyg-button-pane .trumbowyg-button-group:not(:empty)+.trumbowyg-button-group:before {
        display: none
    }
}

#calendar .fc-day-number {
    padding-left: 10px;
    color: #ccc;
    text-align: left
}

@media screen and (min-width:991px) {
    #calendar .fc-day-number {
        font-size: 20px;
        letter-spacing: -2px
    }
}

#calendar .fc-day-header {
    text-align: left
}

#calendar .fc-day-grid-event {
    margin: 1px 9px 0
}

#calendar-widget td,
#calendar-widget th {
    border-color: transparent
}

#calendar-widget .fc-toolbar h2 {
    font-size: 16px
}

#calendar-widget .fc-day-number {
    text-align: center
}

#calendar-widget .fc-day-grid-event {
    margin: 1px 3px
}

#calendar-widget .ui-widget-header,
#calendar-widget .ui-widget-header th {
    border-width: 0
}

.trumbowyg-box,
.trumbowyg-editor {
    border: 0;
    margin: 0
}

.trumbowyg-button-pane {
    background-color: #fff;
    border-bottom-color: #f1f1f1;
    padding: 0 10px
}

.trumbowyg-button-pane:after {
    display: none
}

.trumbowyg-button-pane button {
    margin: 0;
    height: 45px
}

.trumbowyg-button-pane .trumbowyg-button-group:not(:empty)+.trumbowyg-button-group:before {
    background: #f1f1f1;
    height: 100%
}